# tmp files
*~

# Atom
.serenata

# Composer
vendor/*
composer.lock

# Node.js/Grunt
node_modules/*
package-lock.json

# grunt-wp-deploy
build/*

# sass
.sass-cache/*

# PHPUnit
.phpunit.result.cache

# Test coverage
tests/coverage/
