@charset "UTF-8";
label[data-setting="mediaCreditText"] input[type="text"]:-moz-placeholder {
      opacity: 0.3;
}
label[data-setting="mediaCreditText"] input[type="text"]::-moz-placeholder {
      opacity: 0.3;
}
label[data-setting="mediaCreditText"] input[type="text"]:-ms-input-placeholder {
      opacity: 0.3;
}
label[data-setting="mediaCreditText"] input[type="text"]::-webkit-input-placeholder {
      opacity: 0.3;
}

#poststuff table.compat-attachment-fields {
  width: 100%;
}
#poststuff table.compat-attachment-fields td.field {
  width: 80%;
}
#poststuff table.compat-attachment-fields td.field input.media-credit-input {
  width: 100%;
}
