.mceMediaCreditTemp {
  font-size: 11px;
  font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-align: center;
}
.mceMediaCreditTemp a {
  color: blue;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

.wp-caption-dt,
.mceMediaCreditOuterTemp {
  position: relative;
}

.mceMediaCreditOuterTemp {
  background: none repeat scroll 0 0 #fff;
  margin-bottom: 6px;
  text-align: center;
}
.mceMediaCreditOuterTemp a,
.mceMediaCreditOuterTemp img {
  border: 0 none;
  padding: 0;
  float: none;
  margin: 0;
}
.mceMediaCreditOuterTemp.aligncenter img {
  margin: auto;
  margin-bottom: 6px;
}
